<div class="container">
  <% if @post.errors.any? %>
    <%= @post.errors.count %>件のエラーが発生しました
    <ul>
    <% @post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
    <% end %>
    </ul>
  <% end %>
  <h1 class= "text-center mt-5">画像投稿フォーム</h1>
  <%= render 'posts/form', post: @post %>
  </div>
</div>
